<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>department</key>
		<string>Маммология</string>
		<key>patients</key>
		<array>
			<string>piu</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>department</key>
		<string>Хирургия</string>
		<key>patients</key>
		<array>
			<string>piu</string>
			<string>ppiu</string>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>department</key>
		<string>Онкология</string>
		<key>patients</key>
		<array>
			<string>piu</string>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>department</key>
		<string>Стоматология</string>
		<key>patients</key>
		<array>
			<string>piu</string>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>department</key>
		<string>Гинекология</string>
		<key>patients</key>
		<array>
			<string>piu</string>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>department</key>
		<string>Проктология</string>
		<key>patients</key>
		<array>
			<string>piu</string>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>department</key>
		<string>Урология</string>
		<key>patients</key>
		<array>
			<string>piu</string>
		</array>
	</dict>
</dict>
</plist>
