<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>department</key>
		<string>Гепатология</string>
		<key>patients</key>
		<array>
			<dict>
				<key>name</key>
				<string>Обнаружен труп молодого мужчины возле рынка</string>
				<key>date</key>
				<string>2 минуты назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Обнаружен труп мужчины без постоянного места жительства возле станции метро</string>
				<key>date</key>
				<string>5 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>В лесу найден труп молодой женщины</string>
				<key>date</key>
				<string>5 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>На ипподроме обнаружен труп девушки-кассира</string>
				<key>date</key>
				<string>15 минуты назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Возле вокзала обнаружен труп беспризорника</string>
				<key>date</key>
				<string>30 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>В лесу найдено два трупа</string>
				<key>date</key>
				<string>44 минуты назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>В реке выловлен труп мужчины с ножевыми ранениями в области груди</string>
				<key>date</key>
				<string>47 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>В квартире обнаружен труп женщины со следами побоев</string>
				<key>date</key>
				<string>53 минуты назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>На окраине города обнаружен труп пожилого мужчины со следами множественных ножевых ранений</string>
				<key>date</key>
				<string>1 час 13 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Обнаружен труп девушки</string>
				<key>date</key>
				<string>1 час 33 минуты назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>На железной дороге обнаружен труп женщины</string>
				<key>date</key>
				<string>2 часа 5 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>В аэропорту обнаружено тело темнокожего мужчины</string>
				<key>date</key>
				<string>2 часа 27 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>На заброшенной стройке обнаружен труп с огневыми ранениями</string>
				<key>date</key>
				<string>2 часа 35 минут назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>На крыше многоэтажного дома обнаружен труп ребенка</string>
				<key>date</key>
				<string>4 часа 41 минуту назад</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Обнаружен труп женщины повешенной на лестничной клетке собственного дома со следами телесных повреждений</string>
				<key>date</key>
				<string>5 часов 17 минут назад</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
